In [17]:
#Module 4 Programming Assignment: Modules and Databases
#Created by: Austin Stroud
#File name: m04programmingassignment.ipynb
#Description: Chapter 11 and 16 things to do (from textbook)

#11.1 part 1 see zoo.py 

#11.1 part 2
import zoo   #Import zoo module
hours()  #Call hours() function from zoo module
print('Open 9-5 daily')  
#Output 

#11.2
import zoo as menagerie  #Import zoo module as menagerie
hours()  #Call hours() function from menagerie module
print('Open 9-5 daily') #Output 

#16.8 Note, I had to go back and do 16.4 as well here since it built off that.
#This first part is for 16.4 
import sqlite3

#Define SQL query to create 'books' table
create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
'''

#Define sample book data
books_data = [
    ('To Kill a Mockingbird', 'Harper Lee', 1960),
    ('1984', 'George Orwell', 1949),
    ('The Great Gatsby', 'F. Scott Fitzgerald', 1925),
    ('Pride and Prejudice', 'Jane Austen', 1813)
]

#Connect to SQLite database
with sqlite3.connect('books.db') as conn:
    #Create a cursor object to execute SQL queries
    cursor = conn.cursor()
    
    # Execute the SQL query to create the 'books' table
    cursor.execute(create_table_query)
    
    # Insert sample book data into the 'books' table
    cursor.executemany('INSERT INTO books VALUES (?, ?, ?)', books_data)
    
    # Commit the transaction
    conn.commit()

# Print a message indicating successful table creation and data insertion
print("Table 'books' created successfully and sample data inserted.")


#This is the actual 16.8. 
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, select

#Create SQLAlchemy engine
engine = create_engine('sqlite:///books.db', echo=True)

#Define metadata
metadata = MetaData()

#Reflect table from database
metadata.reflect(engine)

#Access 'books' table
books_table = metadata.tables['books']

#Connect to database
with engine.connect() as connection:
    #Select 'title' column from the 'books' table in alphabetical order
    select_query = select(books_table.c.title).order_by(books_table.c.title)

    #Execute select query
    result = connection.execute(select_query)

    #Print the results
    for row in result:
        print(row[0])  # The title is in the first column

Open 9-5 daily
Open 9-5 daily
Open 9-5 daily
Open 9-5 daily
2024-04-09 14:37:03,073 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-09 14:37:03,073 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-04-09 14:37:03,074 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,075 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-04-09 14:37:03,075 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,076 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("books")
2024-04-09 14:37:03,076 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,077 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-04-09 14:37:03,077 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2024-04-09 14:37:03,078 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("books")
2024-04-09 14:37:03,079 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,079 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("books")
2024-04-09 14:37:03,080 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,081 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-04-09 14:37:03,081 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2024-04-09 14:37:03,082 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2024-04-09 14:37:03,083 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,084 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2024-04-09 14:37:03,084 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,085 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2024-04-09 14:37:03,085 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,086 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2024-04-09 14:37:03,086 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,087 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2024-04-09 14:37:03,087 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,088 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2024-04-09 14:37:03,088 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-09 14:37:03,089 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-04-09 14:37:03,089 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2024-04-09 14:37:03,091 INFO sqlalchemy.engine.Engine ROLLBACK
2024-04-09 14:37:03,093 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-09 14:37:03,093 INFO sqlalchemy.engine.Engine SELECT books.title
FROM books ORDER BY books.title
2024-04-09 14:37:03,094 INFO sqlalchemy.engine.Engine [generated in 0.00094s] ()
2024-04-09 14:37:03,095 INFO sqlalchemy.engine.Engine ROLLBACK